<div data-role="view" data-title="Today" data-layout="main" data-model="app.todayView" data-show="app.todayView.onShow" data-after-show="app.todayView.afterShow">
    <!-- START_CUSTOM_CODE_todayView -->
    <!-- END_CUSTOM_CODE_todayView -->
    <ul data-role="listview" data-style="inset" data-template="todayViewModelTemplate" data-bind="{ source: todayViewModel.dataSource}" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_todayViewModel -->
    <!-- END_CUSTOM_CODE_todayViewModel -->
    <script type="text/x-kendo-template" id="todayViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Text'] #</h3>

        </div>
    </script>
</div>