<div data-role="view" data-title="Settings" data-layout="main" data-model="app.settingsView" data-show="app.settingsView.onShow" data-after-show="app.settingsView.afterShow">
    <!-- START_CUSTOM_CODE_settingsView -->
    <br>
    <br>
    <br>
    <div id="collapsible1" data-role="collapsible" data-inset="true">
        <h2>WARM UP</h2>
        <ul id="flat-listview"></ul>

    </div>

    <div id="collapsible2" data-role="collapsible" data-inset="true">
        <h2>LIFTS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div id="collapsible3" data-role="collapsible" data-inset="true">
        <h2>AUXILARY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div id="collapsible4" data-role="collapsible" data-inset="true">
        <h2>NOTES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <!-- END_CUSTOM_CODE_settingsView -->
</div>