<div data-role="splitview" data-style="horizontal" data-title="Week" data-layout="main" data-model="app.weekView" data-show="app.weekView.onShow" data-after-show="app.weekView.afterShow">
    <!-- START_CUSTOM_CODE_weekView -->
 		   <br/>
    	   <br/>
    	   <br/>
          <div data-role="pane">
              <div data-role="view" id="foo">Pane 1 </div>
          </div>
          <div data-role="pane">
              <div data-role="view" id="foo">Pane 2 </div>
          </div>
    <!-- END_CUSTOM_CODE_weekView -->
    
    	
</div>



<!-- scripts -->
<!-- end scripts -->
<!-- style -->

<!-- end style -->